body{.
background-color:(black);
color:(red);
font-family:'(Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif);
margin:0px;
}
h1{
color:(white);
font-size 40px;

}
p{
 font:size 25px;   
}
header{
border-bottom: pink;
margin:2px;
padding:10px;
color:yellow
}
.chamada{
 background:(blue);
 padding: 80px; 
 display:Flex;
 justify-content:center;
}
.chamada-texto{
margin-right:8%;    
}
img{
height:200px;    
}
